.one{
    background-color: blueviolet;
    height:300px;
    width: 300px;
    padding-top: 100px;
    padding-left: 100px;
    box-sizing: border-box;
}
h1{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    color:black;
    
}
#test1{
    color:blue;
}
.test2{
    color:brown;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing:2px;
    font-weight:700;
}
.img{
    width: 600px;
    height: 300px;
    border-radius: 50px;
}
.ctn{
    background-color: cadetblue;
    height:200px;
    width: 600px;
        
}
.alpha{
    background-color: aquamarine;
    height:200px;
    width: 600px;
}