*{
    
    padding: 0;
    box-sizing: border-box;

}
.main-ctn{
    margin-top: 100px;
    margin-left: 300px;
    background-color: beige;
    height:70vh;
    width:60vw;
    position: fixed;
}
.div{
     height:400px;
    width:700px;
    background-color: aquamarine;
    position: fixed;
    margin-left: 110px;
    margin-top: 50px;
    border-radius: 50%;
}
.idiv{
    height: 200px;
    width:200px;
    background-color: black;
    position: fixed;
    margin-left: 250px;
    margin-top: 100px;
    border-radius: 10%;
}