.alpha{
    height:200px;
    width:200px;
    background-color:rgb(158, 93, 93);
    left:100px;
    
    
    
}
.beeta{
    height:200px;
    width:200px;
    background-color:rgb(104, 110, 196);
    top:300px;

    
    
    
    
}