*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.meta-ctn{
    
    margin-left: 50px;
    margin-top: 50px;
    height:80vh;
    width:30vw;
    display: grid;
    grid-template-rows: 100px 300px 100px ;
    grid-template-columns:100px 300px;
    gap:10px;
    border: solid brown 5px;
    
}
.div1{
    background-color: rgb(20, 88, 88);
    grid-row:1/1;
    grid-column: 1/1;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;

}
.div2{
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
    background-color: blanchedalmond;
    grid-row:1/3;
    grid-column:2/3
   
}
.div3{
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
    background-color: rgb(228, 228, 25);
    grid-row:2/4;
    grid-column:1/2
    
    
}
.div4{
    background-color: cornflowerblue;
    grid-row:3/4;
    grid-column: 2/3;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
   
}